.movie {
    margin: 10px auto;
    width: 275px;
    color: #fff;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.movie:hover {
    cursor: pointer;
}

.movie__image {
    width: 100%;
    height: 425px;
    object-fit: cover;
    margin-bottom: -4px;
}

.spinner {
    width: 100%;
    height: 425px;
}

.spinner::before {
    position: absolute;
    left: 50%;
    top: 40%;
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #fff;
    border-bottom-color: #034748;
    border-radius: 50%;
    content: "";
    height: 40px;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.movie__infoReveal {
    display: block !important;
}

.movie__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #034748;
    height: 75px;
    padding: 2px 10px 10px;
}

.movie__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie__starIcon {
    margin-right: 4px;
}

.movie__details h4 {
    font-weight: 500;
    max-width: 220px;
}

.movie__infoIcon {
    color: #ffd230;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #ffd230 solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.movie__popup {
    display: none;
    margin: auto;
    width: 95vw;
    height: 95vh;
    border: 3px solid #f7d12a;
    border-radius: 25px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #034748;
    color: #dfdfdf;
    overflow: auto;
    z-index: 2;
}

.movie__popupContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.movie__popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    cursor: pointer;
}

table {
    border-spacing: 0 20px;
}

.movie__infoCategories {
    width: 30%;
    vertical-align:top;
}

.movie__infoDetails {
    width: 70%;
    vertical-align:top;
}

.movie__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__link a {
    width: 70%;
    height: 40px;
    background-color: #25313d;
    color: #dfdfdf;
    border: 1px #000 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
}

.movie__link a:active {
    transform: scale(0.95);
}

.movie__link a img {
    width: 50px;
    height: auto;
    margin-left: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    background-color: rgba(105, 105, 105, 0.548);
    z-index: 1;
}

.modal__display {
    display: block;
}

@media only screen and (min-width: 500px){
    .movie__popup {
        max-width: 500px !important;
        max-height: 700px !important;
    }
}