.movie {
    margin: 10px auto;
    width: 275px;
    color: #fff;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
    position: relative;
    overflow: hidden;
}

.movie__image {
    width: 100%;
    height: 425px;
    object-fit: cover;
    margin-bottom: -4px;
}

.movie__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 405px;
    transform: translateX(101%);
    transition: transform 0.3s ease-in-out;
    top: 0;
    background-color: #1481ba;
    color: #fff;
    overflow: auto;
}

.movie__info p, a {
    padding: 10px;
    text-align: center;
}

.movie__info a {
    position: absolute;
    bottom: 20px;
    width: 70%;
    height: 40px;
    background-color: #25313d;
    color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.movie__info a:active {
    transform: scale(0.95);
}

.movie__info a img {
    width: 50px;
    height: auto;
    margin-left: 5px;
}

/* .movie__image .movie__info {
    transform: translateX(0);
} */

.movie__infoReveal {
    transform: translateX(0);
}

.movie__details {
    background-color: #034748;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.movie__details h4 {
    font-weight: 500;
    max-width: 220px;
}

.movie__infoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #fff solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}