.search__container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    height: 50px;
    position: relative;
}

.search__input {
    box-sizing: border-box;
    background-color: #034748;
    color: #fff;
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    height: 60px;
    width: 60px;
    transition: width 0.3s ease;
    padding-left: 20px;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.search__button {
    background-color: #034748;
    color: #fff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 0;
    height: 58px;
    width: 50px;
    transition: transform 0.3s ease;
}

.search__button, .search__input:focus {
    outline: none;
}

.search.active .search__input {
    width: 260px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 60px;
}

.search.active .search__button {
    transform: translateX(198px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}