@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: content-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #000b3a;
}

.App {
}

